@font-face {
    src: url(../assets/fonts/Montserrat-Regular.ttf);
    font-family: Montserrat;
}
@font-face {
    src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
    font-family: Montserrat-Bold;
}
